<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Проверка пароля</title>
<link rel="icon" href="/static/images/Lock-512.png" type="image/png">
<link href='/static/fonts/Montserrat.css' rel='stylesheet'>
<link href='/static/css/client-page.css' rel='stylesheet'>
<script src="/static/js/jquery-3.6.4.min.js"></script>
<script src="/static/js/crypto-js.min.js"></script>
<script src="/static/js/client-page.js"></script>
</head>
<body class="page-neutral">
<div class="gap-10vh"></div>
<h1>Проверьте свой пароль</h1>
<div class="gap-5vh"></div>
<div class="input-bar">
    <input id="password-input" class="inline-input" type="password" placeholder="Введите пароль" maxlength="100" oninput="handlePasswordInput()">
    <img id="password-visibility-toggle" style="fill: red;" src="/static/images/icon-password-show.svg" onclick="togglePasswordVisibility()">
</div>
<div class="gap-10vh"></div>
<div id="block-result" class="block-text" hidden></div>
<div class="gap-20vh"></div>
</body>
</html>
